<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style/ProfileStyle.css}">
</head>
<body>

<div th:replace="~{header}"></div>

<div class="profile-header">
    <div class="profile-picture" id="profile-picture" onclick="uploadPhoto()"></div>
    <h1 id="fullName"></h1>
</div>

<div class="container">
    <div class="info">
        <h2>Общая информация</h2>
        <div>
            <label>Школа:</label>
            <span id="school"></span>
        </div>
        <div>
            <label>Адрес электронной почты:</label>
            <span id="email"></span>
        </div>
        <div>
            <label>Номер телефона:</label>
            <span id="phoneNumber"></span>
        </div>
    </div>
    <div class="section" id="reportsSection">
        <h2>Отчёты</h2>
        <p><a href="#" class="link" id="reportListLink">Открыть список отчётов</a></p>
    </div>
</div>

<script>
    function checkUserRoleAndModifyUI() {
        fetch('/getAuthorizationUserInfo')
            .then(response => response.json())
            .then(userInfo => {
                const allowedRoles = ["Main admin", "Administration"];
                if (!allowedRoles.includes(userInfo.role)) {
                    const reportsSection = document.getElementById('reportsSection');
                    if (reportsSection) {
                        reportsSection.remove();
                    }
                }
            })
            .catch(error => {
                console.error('Ошибка при получении информации о пользователе:', error);
            });
    }

    document.addEventListener('DOMContentLoaded', checkUserRoleAndModifyUI);

    const urlParams = new URLSearchParams(window.location.search);
    const id = urlParams.get('id');

    if (id) {
        fetch(`/findAdministratorById?id=${id}`)
            .then(response => {
                if (!response.ok) {
                    if (response.status === 204) {
                        throw new Error('Нет данных для данного ID');
                    }
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                const Name = data.patronymic ?
                    `${data.lastName} ${data.firstName} ${data.patronymic}` :
                    `${data.lastName} ${data.firstName}`;

                document.getElementById('fullName').innerText = Name;
                document.getElementById('email').innerText = data.email || 'Не указан';
                document.getElementById('phoneNumber').innerText = data.phoneNumber || 'Не указан';
                document.getElementById('school').innerText = data.educationalInstitution.name;

                const reportListLink = document.getElementById('reportListLink');
                if (reportListLink) {
                    reportListLink.href = `reportList?id=${data.educationalInstitution.id}`;
                }

                const initials = `${data.lastName.charAt(0)}${data.firstName.charAt(0)}`;
                document.getElementById('profile-picture').innerText = initials.toUpperCase();
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
    }

    function uploadPhoto() {
        const fileInput = document.createElement('input');
        fileInput.type = 'file';
        fileInput.accept = 'image/*';

        fileInput.addEventListener('change', function(e) {
            const file = e.target.files[0];
            if (file) {
                const formData = new FormData();
                formData.append('image', file);
                formData.append('id', id);

                fetch('/addImageAdministrator', {
                    method: 'POST',
                    body: formData
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Ошибка при загрузке изображения');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Фото успешно загружено', data.message);
                })
                .catch(error => {
                    console.error('Ошибка:', error);
                    alert(error.message);
                });
            }
        });
        fileInput.click();
    }
</script>

</body>
</html>