body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Шапка */
header {
    background-color: #343a40;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-div {
    background-color: #e0e0e0;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.logout-button {
    background-color: #dc3545;
    color: white;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.logout-button:hover {
    background-color: #c82333;
}



/* Столбцы */
.container {
    display: flex;
    flex: 1;
    padding: 20px;
    margin-top: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 88vh;

    background: white;
    border: 1px solid #ccc;
    width: 40%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}



/* Кнопки */
.selector {
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-top: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: -50px;
}

.selector div {
    background: white;
    color: black;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    flex: 1;
    border: 1px solid #ccc;
}

.selector div:hover {
    background: #e0e0e0;
}

.selector div.active {
    background: #eeeeee;
}



/* Поля школ */
.educationColumn div {
    padding:5px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.educationColumn div:hover {
    background: #e0e0e0;
}

.educationColumn div:active {
    background: #c4c2c2;
}

.educationColumn div.active {
    background: #eeeeee;
}

.educationColumn {
    overflow-y: auto;
    background-color: white;
}


/* Поля объектов */
.objectColumn div {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.objectColumn div:hover {
    background: #e0e0e0;
}

.objectColumn div:active {
    background: #c4c2c2;
}

.objectColumn div.active {
    background: #eeeeee;
}

.objectColumn {
    overflow-y: auto;
    background-color: white;
}

/* Поля объектов колонки 3 */
.objectColumnThree div {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.objectColumnThree div:hover {
    background: #e0e0e0;
}

.objectColumnThree div:active {
    background: #c4c2c2;
}

.objectColumnThree div.active {
    background: #eeeeee;
}

.objectColumnThree {
    overflow-y: auto;
    background-color: white;
}


/* Контейнер для кнопок */
.button-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    border-top: 1px solid #ccc;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: auto;
}

.button-container button {
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    flex: 1;
    margin-right: 10px;
}

.button-container button:last-child {
    margin-right: 0;
}

.button-container button.add {
    background-color: #28a745;
}

.button-container button.add:hover {
    background-color: #00a025;
}

.button-container button.add:active {
    background: #009021;
}

.button-container button.delete {
    background-color: #dc3545;
}

.button-container button.delete:hover {
    background-color: #c82333;
}

.button-container button.delete:active {
    background: #b80012;
}