<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/style/AdminSettings/Style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style/AdminSettings/ModuleAdd.css}">
</head>
<body>

<header>
    <div>Админ</div>
    <button class="logout-button">Выйти</button>
</header>

<div class="container">
    <div class="column">
        <div class="header-div">Школы</div>
        <div class="educationColumn" id="educationColumn">

        </div>
        <div class="button-container">
            <button id="addSchoolButton" class="add">Добавить школу</button>
            <button id="deleteSchoolButton" class="delete">Удалить школу</button>
        </div>
    </div>

    <div class="column">
        <div class="selector">
            <div id="administrationSelector" onclick="updateHeader('Администрация')">Адинистрация</div>
            <div id="classSelector" onclick="updateHeader('Классы')">Классы</div>
            <div id="teachersSelector" onclick="updateHeader('Учителя')">Учителя</div>
            <div id="studentsSelector" onclick="updateHeader('Ученики')">Ученики</div>
        </div>
        <div class="header-div" id="secondColumnHeader">Выберите объект</div>
        <div class="objectColumn" id="objectColumn">

        </div>
        <div class="button-container">
            <button id="addObjectButton" class="add">Добавить объект</button>
            <button id="deleteObjectButton" class="delete">Удалить объект</button>
        </div>
    </div>
    <div class="column">
        <div class="header-div">Столбец 3</div>
        <div class="button-container">
            <button id="addObjectButtonС3" class="add">Добавить объект</button>
            <button id="deleteObjectButtonС3" class="delete">Удалить объект</button>
        </div>
    </div>
</div>

<div id="moduleAddEducation" class="modal">
    <div class="modal-content">
        <span class="close-button" onclick="closeAllModules()">&times;</span>
        <h2>Добавить школу</h2>

        <label for="schoolName">Название школы</label>
        <input type="text" id="schoolName" placeholder="Название школы" required>

        <label for="schoolAddress">Адрес</label>
        <input type="text" id="schoolAddress" placeholder="Адрес" required>

        <label for="schoolEmail">Email</label>
        <input type="text" id="schoolEmail" placeholder="Email">

        <label for="schoolPhoneNumber">Телефон</label>
        <input type="text" id="schoolPhoneNumber" placeholder="Телефон">

        <button id="submitSchoolButton">Подтвердить</button>
    </div>
</div>

<div id="moduleAddAdministrator" class="modal">
    <div class="modal-content">
        <span class="close-button" onclick="closeAllModules()">&times;</span>
        <h2>Добавить Администратора</h2>

        <label for="adminFirstName">Имя</label>
        <input type="text" id="adminFirstName" placeholder="Имя" required>

        <label for="adminLastName">Фамилия</label>
        <input type="text" id="adminLastName" placeholder="Фамилия" required>

        <label for="adminPatronymic">Отчество</label>
        <input type="text" id="adminPatronymic" placeholder="Отчество">

        <label for="adminLogin">Логин</label>
        <input type="text" id="adminLogin" placeholder="Логин" required>

        <label for="adminPassword">Пароль</label>
        <input type="password" id="adminPassword" placeholder="Пароль" required>

        <label for="adminEmail">Email</label>
        <input type="email" id="adminEmail" placeholder="Email">

        <label for="adminPhoneNumber">Телефон</label>
        <input type="text" id="adminPhoneNumber" placeholder="Телефон">

        <button id="submitAdminButton">Подтвердить</button>
    </div>
</div>

<div id="moduleAddTeacher" class="modal">
    <div class="modal-content">
        <span class="close-button" onclick="closeAllModules()">&times;</span>
        <h2>Добавить Учителя</h2>

        <label for="teacherFirstName">Имя</label>
        <input type="text" id="teacherFirstName" placeholder="Имя" required>

        <label for="teacherLastName">Фамилия</label>
        <input type="text" id="teacherLastName" placeholder="Фамилия" required>

        <label for="teacherPatronymic">Отчество</label>
        <input type="text" id="teacherPatronymic" placeholder="Отчество">

        <label for="teacherLogin">Логин</label>
        <input type="text" id="teacherLogin" placeholder="Логин" required>

        <label for="teacherPassword">Пароль</label>
        <input type="password" id="teacherPassword" placeholder="Пароль" required>

        <label for="teacherEmail">Email</label>
        <input type="email" id="teacherEmail" placeholder="Email">

        <label for="teacherPhoneNumber">Телефон</label>
        <input type="text" id="teacherPhoneNumber" placeholder="Телефон">

        <button id="submitTeacherButton">Подтвердить</button>
    </div>
</div>

<div id="moduleAddClass" class="modal">
    <div class="modal-content">
        <span class="close-button" onclick="closeAllModules()">&times;</span>
        <h2>Добавить класс</h2>

        <label for="className">Название класса</label>
        <input type="text" id="className" placeholder="Название класса" required>

        <label for="teacherSelect">Выберите учителя:</label>
        <select id="teacherSelect" required></select>

        <button id="submitClassButton">Подтвердить</button>
    </div>
</div>

<script src="/scripts/adminSettings/ModuleAddObj.js" defer></script>
<script src="/scripts/adminSettings/Start.js" defer></script>
<script src="/scripts/adminSettings/ModuleAddEducation.js" defer></script>
<script src="/scripts/adminSettings/ModuleAddClass.js" defer></script>
<script src="/scripts/adminSettings/ModuleAddAdministrator.js" defer></script>
<script src="/scripts/adminSettings/ModuleAddTeacher.js" defer></script>

</body>
</html>