<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style/ProfileStyle.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style/Header.css}">
</head>
<body>

<header>
    <div class="school-name">Школа</div>
    <button class="logout-button">Выйти</button>
</header>

<div class="profile-header">
    <div class="profile-picture" id="profile-picture"></div>
    <h1 id="fullName"></h1>
</div>

<div class="container">
    <div class="info">
        <h2>Общая информация</h2>
        <div>
            <label>Школа:</label>
            <span id="school"></span>
        </div>
        <div>
            <label>Адрес электронной почты:</label>
            <span id="email"></span>
        </div>
        <div>
            <label>Номер телефона:</label>
            <span id="phoneNumber"></span>
        </div>
    </div>

    <div class="section">
        <h2>Классное руководство</h2>
        <div>
            <label>Класс:</label>
            <span id="class"></span>
        </div>
        <p><a href="#" class="link" id="classLink">Обзор класса</a></p>
    </div>

    <div class="section">
        <h2>Учебные предметы</h2>
        <p><a href="#" class="link" id="assignmentLink">Просмотр предметов</a></p>
    </div>
</div>

<script>
    const urlParams = new URLSearchParams(window.location.search);
    const id = urlParams.get('id');

    if (id) {
        document.getElementById('classLink').href = `classPage?id=${id}`;
        document.getElementById('assignmentLink').href = `assignmentPage?id=${id}`;

        fetch(`http://localhost:8090/findTeacherById?id=${id}`)
            .then(response => {
                if (!response.ok) {
                    if (response.status === 204) {
                        throw new Error('Нет данных для данного ID');
                    }
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                const Name = data.patronymic ?
                    `${data.lastName} ${data.firstName} ${data.patronymic}` :
                    `${data.lastName} ${data.firstName}`;

                document.getElementById('fullName').innerText = Name;
                document.getElementById('email').innerText = data.email || 'Не указан';
                document.getElementById('phoneNumber').innerText = data.phoneNumber || 'Не указан';

                const initials = `${data.lastName.charAt(0)}${data.firstName.charAt(0)}`;
                document.getElementById('profile-picture').innerText = initials.toUpperCase();

                return fetch(`http://localhost:8090/findClassByTeacherId?id=${id}`);
            })
            .then(response => {
                if (!response.ok) {
                    if (response.status === 204) {
                        throw new Error('Нет данных о классе для данного учителя');
                    }
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(classData => {
                document.getElementById('class').innerText = classData.name;
            })
            .catch(error => {
                const classLinkElement = document.getElementById('classLink').parentElement;
                classLinkElement.remove();

                document.getElementById('class').innerText = 'Нет класса под руководством';
            });


            // Найти школу
            fetch(`http://localhost:8090/findSchoolByTeacherId?id=${id}`)
            .then(response => {
                if (!response.ok) {
                    if (response.status === 204) {
                        throw new Error('Нет данных для данного ID');
                    }
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                document.getElementById('school').innerText = data.name;
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
    }

    document.querySelector('.logout-button').addEventListener('click', function() {
        fetch('/logout', {
            method: 'GET',
            credentials: 'include'
        })
        .then(response => {
            if (response.redirected) {
                window.location.href = response.url;
            }
        })
        .catch(error => console.error('Ошибка при выходе:', error));
    });
</script>

</body>
</html>